/* global */
:root
{
    --navy:#121428;
    --navy-overlay:#12142865;
    --brown:#D88C3E;
    --white:#FFFFFF;
    --sec-bg:#F1F1F1
}
@font-face {
    font-family: 'Madani-Bold';
    src: url('../fonts/Madani\ Arabic\ Bold.ttf') format('WOFF2'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Madani-Regular';
    src: url('../fonts/Madani\ Arabic\ Regular.ttf') format('WOFF2'); 
    font-weight: normal;
    font-style: normal;
}
h2
{
    font-family: "Madani-Regular";
    color: var(--brown);
}

h1
{
    font-family: "Madani-Bold";
}
a
{
    font-family: "Madani-Regular";
}
.navy
{
    color: var(--navy);
}
.brown
{
    color: var(--brown);
}
.white
{
    color: var(--white) !important;
}
.navy-bg
{
    background-color: var(--navy) ;
}
.brown-bg
{
    background-color: var(--brown) ;
}
.white-bg
{
    background-color: var(--white);
}
.sec-bg
{
    background-color: var(--sec-bg);
}
h1
{
    font-size: 42px;
    font-weight: 700;
    color: var(--brown);
}

section
{
    padding: 50px 0;
    overflow: hidden;
}
/* navbar */
.logo
{
    
    max-width: 5%;
}
.navbar-nav .nav-item .nav-link.active
{
    color: var(--white) !important;

}
.navbar-nav .nav-item .nav-link
{
    color: var(--navy);

}
.navbar-nav .nav-item .nav-link:hover
{
    color: var(--white);

}



/* header */
.header-image img
{
    max-width: 100%;
    

}
.header-image .overlay
{
    background-color: var(--navy-overlay);
    position: absolute;
    inset: 0px;
}

/* about */
.inner img
{
    max-width: 100%;
    transition: .5s ease;

}
.sec-overlary
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    transition: .5s ease;
    background-color: var(--navy-overlay);
}
.photo:hover .sec-overlary
{
    top: 0;
}
.photo:hover  img
{
    transform: scale(1.2);
}
.inner h2 ,.inner div p
{
    font-family: Madani-Bold;
    color: var(--navy);


}

@media screen and  (max-width:991.5px)
{
    .logo
    {
        max-width: 10% !important;
    }
}